<h2> Welcome to the Country App !</h2>

<div class="container wrapper">
  <div class="row">
      <!-- Issue table -->
      <div class="col-md-6">
          <div class="inner">
              <h3>List of countries</h3>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">Country Name</th>
                          <th scope="col">Country Code</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let country of countries">
                          <td>{{country.name}}</td>
                          <td>{{country.country_code}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col-md-6">
        <h3>Search a single contry</h3>
        <input [(ngModel)]="countryName">
        <button type="button" (click)="onClickSearch(countryName)" class="btn btn-primary">Search</button>
        <div class="inner">
          <h3>Search result: </h3>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Country Name</th>
                      <th scope="col">Country Code</th>
                      <th scope="col">Capital</th>
                      <th scope="col">Population</th>
                      <th scope="col">Flag file</th>
                  </tr>
              </thead>
              <tbody>
                    <td>{{country?.name}}</td>
                    <td>{{country?.country_code}}</td>
                    <td>{{country?.capital}}</td>
                    <td>{{country?.population}}</td>
                    <td>{{country?.flag_file_url}}</td>
              </tbody>
          </table>
      </div>
      </div>
  </div>
</div>